header{
    background-color: #0a5a4f;
    margin-top: 10px;
    }
    img{
    width: 150px;
    height: auto;
    }
    a{
    font-family: 'Tahoma';
    font-size: 16px;
    color:green;
    }

    /* Estilos para el pie de página (footer) */
footer {
    background-color: #0a5a4f; /* Color de fondo */
    margin-top: 10px; /* Margen superior */
}

/* Estilos para la imagen dentro del pie de página */
footer img {
    width: 150px; /* Ancho de la imagen */
    height: auto; /* Altura automática para mantener la proporción */
}

/* Estilos para los enlaces dentro del pie de página */
footer a {
    font-family: 'Tahoma'; /* Fuente de texto */
    font-size: 16px; /* Tamaño de fuente */
    color: green; /* Color de texto */
}

